


{% extends 'base.html' %}
{% load static  %}


{% block content %}
<div data-elementor-type="wp-page" data-elementor-id="2834" class="elementor elementor-2834" data-elementor-post-type="page">
    <section data-particle_enable="true" class="eael-section-particles-47c43fe elementor-section elementor-top-section elementor-element elementor-element-47c43fe elementor-section-boxed elementor-section-height-default elementor-section-height-default eael-particles-section" data-eael_ptheme_source="presets" data-preset_theme="nasa" data-custom_style="" data-particle-mobile-disabled="false" data-id="47c43fe" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}" id="eael-section-particles-47c43fe">
        <div class="elementor-background-overlay"></div>
        <div class="elementor-container elementor-column-gap-default">
<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-dfb9835" data-id="dfb9835" data-element_type="column">
<div class="elementor-widget-wrap elementor-element-populated">
    <div class="elementor-element elementor-element-495f1ba elementor-widget elementor-widget-heading animated fadeInDown" data-id="495f1ba" data-element_type="widget" data-settings="{&quot;_animation&quot;:&quot;fadeInDown&quot;,&quot;_animation_delay&quot;:300}" data-widget_type="heading.default">
<div class="elementor-widget-container">
<style>/*! elementor - v3.23.0 - 05-08-2024 */
.elementor-heading-title{padding:0;margin:0;line-height:1}.elementor-widget-heading .elementor-heading-title[class*=elementor-size-]>a{color:inherit;font-size:inherit;line-height:inherit}.elementor-widget-heading .elementor-heading-title.elementor-size-small{font-size:15px}.elementor-widget-heading .elementor-heading-title.elementor-size-medium{font-size:19px}.elementor-widget-heading .elementor-heading-title.elementor-size-large{font-size:29px}.elementor-widget-heading .elementor-heading-title.elementor-size-xl{font-size:39px}.elementor-widget-heading .elementor-heading-title.elementor-size-xxl{font-size:59px}</style><h1 class="elementor-heading-title elementor-size-default">Our Team</h1>		</div>
</div>
<div class="elementor-element elementor-element-42fe1da elementor-widget elementor-widget-text-editor" data-id="42fe1da" data-element_type="widget" data-widget_type="text-editor.default">
<div class="elementor-widget-container">
<style>/*! elementor - v3.23.0 - 05-08-2024 */
.elementor-widget-text-editor.elementor-drop-cap-view-stacked .elementor-drop-cap{background-color:#69727d;color:#fff}.elementor-widget-text-editor.elementor-drop-cap-view-framed .elementor-drop-cap{color:#69727d;border:3px solid;background-color:transparent}.elementor-widget-text-editor:not(.elementor-drop-cap-view-default) .elementor-drop-cap{margin-top:8px}.elementor-widget-text-editor:not(.elementor-drop-cap-view-default) .elementor-drop-cap-letter{width:1em;height:1em}.elementor-widget-text-editor .elementor-drop-cap{float:left;text-align:center;line-height:1;font-size:50px}.elementor-widget-text-editor .elementor-drop-cap-letter{display:inline-block}</style>				<p><em>The People Making Things Work</em></p>						</div>
</div>
</div>
</div>
</div>
<canvas class="particles-js-canvas-el" width="1894" height="604" style="width: 100%; height: 100%;"></canvas></section>
<style>
.elementor-element-47c43fe.eael-particles-section > canvas {
z-index: -1;
position: absolute;
top:0;
}
</style>
<section data-particle_enable="false" data-particle-mobile-disabled="false" class="elementor-section elementor-top-section elementor-element elementor-element-7cfd738 elementor-hidden-tablet elementor-hidden-phone elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="7cfd738" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
    <div class="elementor-container elementor-column-gap-default">
<div class="make-column-clickable-elementor elementor-column elementor-col-25 elementor-top-column elementor-element elementor-element-aacd9cd animated fadeInLeft" style="cursor: pointer;" data-column-clickable="https://arfh-ng.org/arfh-management-staff/prof-o-a-ladipo/" data-column-clickable-blank="_self" data-id="aacd9cd" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;animation&quot;:&quot;fadeInLeft&quot;,&quot;animation_delay&quot;:600}">
<div class="elementor-widget-wrap elementor-element-populated">
<div class="elementor-background-overlay"></div>
    <div class="elementor-element elementor-element-d63a2ee elementor-widget elementor-widget-heading" data-id="d63a2ee" data-element_type="widget" data-widget_type="heading.default">
<div class="elementor-widget-container">
<h2 class="elementor-heading-title elementor-size-default"><a href="https://arfh-ng.org/arfh-management-staff/prof-o-a-ladipo/">Prof. O. A. Ladipo</a></h2>		</div>
</div>
<div class="elementor-element elementor-element-087d8bf elementor-widget elementor-widget-text-editor" data-id="087d8bf" data-element_type="widget" data-widget_type="text-editor.default">
<div class="elementor-widget-container">
        <p>MB.BCH, FRCOG, FMCOG, FWACS, OON</p>						</div>
</div>
<div class="elementor-element elementor-element-0a24061 elementor-widget elementor-widget-text-editor" data-id="0a24061" data-element_type="widget" data-widget_type="text-editor.default">
<div class="elementor-widget-container">
        <p>President/Emeritus &amp; Co-Founder,<br>ARFH</p>						</div>
</div>
</div>
</div>
<div class="make-column-clickable-elementor elementor-column elementor-col-25 elementor-top-column elementor-element elementor-element-71852ad animated fadeInLeft" style="cursor: pointer;" data-column-clickable="https://arfh-ng.org/arfh-management-staff/10588/" data-column-clickable-blank="_self" data-id="71852ad" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;animation&quot;:&quot;fadeInLeft&quot;,&quot;animation_delay&quot;:600}">
<div class="elementor-widget-wrap elementor-element-populated">
<div class="elementor-background-overlay"></div>
    <div class="elementor-element elementor-element-ad97ea4 elementor-widget elementor-widget-heading" data-id="ad97ea4" data-element_type="widget" data-widget_type="heading.default">
<div class="elementor-widget-container">
<h2 class="elementor-heading-title elementor-size-default"><a href="https://arfh-ng.org/arfh-management-staff/10588/">Mrs G. E. Delano</a></h2>		</div>
</div>
<div class="elementor-element elementor-element-b07f0cd elementor-widget elementor-widget-text-editor" data-id="b07f0cd" data-element_type="widget" data-widget_type="text-editor.default">
<div class="elementor-widget-container">
        <p>BA, M.Sc., FWCN, FIH</p>						</div>
</div>
<div class="elementor-element elementor-element-e923e5e elementor-widget elementor-widget-text-editor" data-id="e923e5e" data-element_type="widget" data-widget_type="text-editor.default">
<div class="elementor-widget-container">
        <p>Former Vice President/ED and Co-Founder, ARFH</p>						</div>
</div>
</div>
</div>
<div class="make-column-clickable-elementor elementor-column elementor-col-25 elementor-top-column elementor-element elementor-element-568f6f9 animated fadeInLeft" style="cursor: pointer;" data-column-clickable="https://arfh-ng.org/arfh-management-staff/prof-adeyemi-olu-adekunle/" data-column-clickable-blank="_self" data-id="568f6f9" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;animation&quot;:&quot;fadeInLeft&quot;,&quot;animation_delay&quot;:600}">
<div class="elementor-widget-wrap elementor-element-populated">
<div class="elementor-background-overlay"></div>
    <div class="elementor-element elementor-element-767c958 elementor-widget elementor-widget-heading" data-id="767c958" data-element_type="widget" data-widget_type="heading.default">
<div class="elementor-widget-container">
<h2 class="elementor-heading-title elementor-size-default"><a href="https://arfh-ng.org/arfh-management-staff/prof-adeyemi-olu-adekunle/">Prof. A. O. Adekunle</a></h2>		</div>
</div>
<div class="elementor-element elementor-element-3e09423 elementor-widget elementor-widget-text-editor" data-id="3e09423" data-element_type="widget" data-widget_type="text-editor.default">
<div class="elementor-widget-container">
        <p>MB,BS, FWACS, FICS, FMCOG</p>						</div>
</div>
<div class="elementor-element elementor-element-be6343e elementor-widget elementor-widget-text-editor" data-id="be6343e" data-element_type="widget" data-widget_type="text-editor.default">
<div class="elementor-widget-container">
        <p>Chair, Board of Trustees,
<br>ARFH<br></p>						</div>
</div>
</div>
</div>
<div class="make-column-clickable-elementor elementor-column elementor-col-25 elementor-top-column elementor-element elementor-element-f0d92dd animated fadeInLeft" style="cursor: pointer;" data-column-clickable="https://arfh-ng.org/arfh-management-staff/dr-jerome-onome-mafeni/" data-column-clickable-blank="_self" data-id="f0d92dd" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;animation&quot;:&quot;fadeInLeft&quot;,&quot;animation_delay&quot;:600}">
<div class="elementor-widget-wrap elementor-element-populated">
<div class="elementor-background-overlay"></div>
    <div class="elementor-element elementor-element-eec52b7 elementor-widget elementor-widget-heading" data-id="eec52b7" data-element_type="widget" data-widget_type="heading.default">
<div class="elementor-widget-container">
<h2 class="elementor-heading-title elementor-size-default"><a href="https://arfh-ng.org/arfh-management-staff/dr-jerome-onome-mafeni/">Dr J. O. Mafeni</a></h2>		</div>
</div>
<div class="elementor-element elementor-element-6048daf elementor-widget elementor-widget-text-editor" data-id="6048daf" data-element_type="widget" data-widget_type="text-editor.default">
<div class="elementor-widget-container">
        <p>BDS, MPH, MSC</p>						</div>
</div>
<div class="elementor-element elementor-element-a0fa796 elementor-widget elementor-widget-text-editor" data-id="a0fa796" data-element_type="widget" data-widget_type="text-editor.default">
<div class="elementor-widget-container">
        <p>BDS, MPH, MSC</p>						</div>
</div>
<div class="elementor-element elementor-element-503643b elementor-widget elementor-widget-text-editor" data-id="503643b" data-element_type="widget" data-widget_type="text-editor.default">
<div class="elementor-widget-container">
        <p>Chair, Board of Directors,<br>ARFH</p>						</div>
</div>
</div>
</div>
</div>
</section>
<section data-particle_enable="false" data-particle-mobile-disabled="false" class="elementor-section elementor-top-section elementor-element elementor-element-2be614d elementor-hidden-tablet elementor-hidden-phone elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="2be614d" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
    <div class="elementor-container elementor-column-gap-default">
<div class="make-column-clickable-elementor elementor-column elementor-col-25 elementor-top-column elementor-element elementor-element-b0d2632 animated fadeInLeft" style="cursor: pointer;" data-column-clickable="https://arfh-ng.org/arfh-management-staff/osinowo-kehinde-adesola/" data-column-clickable-blank="_self" data-id="b0d2632" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;animation&quot;:&quot;fadeInLeft&quot;,&quot;animation_delay&quot;:600}">
<div class="elementor-widget-wrap elementor-element-populated">
<div class="elementor-background-overlay"></div>
    <div class="elementor-element elementor-element-9ee27d2 elementor-widget elementor-widget-heading" data-id="9ee27d2" data-element_type="widget" data-widget_type="heading.default">
<div class="elementor-widget-container">
<h1 class="elementor-heading-title elementor-size-default">Dr (Mrs) K. A Osinowo</h1>		</div>
</div>
<div class="elementor-element elementor-element-4cf99cc elementor-widget elementor-widget-text-editor" data-id="4cf99cc" data-element_type="widget" data-widget_type="text-editor.default">
<div class="elementor-widget-container">
        <p>PHD, MPH, FWACN</p>						</div>
</div>
<div class="elementor-element elementor-element-9492148 elementor-widget elementor-widget-text-editor" data-id="9492148" data-element_type="widget" data-widget_type="text-editor.default">
<div class="elementor-widget-container">
        <p>Chief Executive Officer, <br>ARFH</p>						</div>
</div>
</div>
</div>
<div class="make-column-clickable-elementor elementor-column elementor-col-25 elementor-top-column elementor-element elementor-element-94009aa animated fadeInLeft" style="cursor: pointer;" data-column-clickable="https://arfh-ng.org/arfh-management-staff/kolapo-oyeniyi/" data-column-clickable-blank="_self" data-id="94009aa" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;animation&quot;:&quot;fadeInLeft&quot;,&quot;animation_delay&quot;:600}">
<div class="elementor-widget-wrap elementor-element-populated">
<div class="elementor-background-overlay"></div>
    <div class="elementor-element elementor-element-3da40cc elementor-widget elementor-widget-heading" data-id="3da40cc" data-element_type="widget" data-widget_type="heading.default">
<div class="elementor-widget-container">
<h2 class="elementor-heading-title elementor-size-small"><a href="https://arfh-ng.org/arfh-management-staff/kolapo-oyeniyi/">Dr. Kolapo Oyeniyi</a></h2>		</div>
</div>
<div class="elementor-element elementor-element-18c2223 elementor-widget elementor-widget-text-editor" data-id="18c2223" data-element_type="widget" data-widget_type="text-editor.default">
<div class="elementor-widget-container">
        <p><span style="color: #ffffff;"><a style="color: #ffffff;" href="https://arfh-ng.org/arfh-management-staff/kolapo-oyeniyi/" target="_blank" rel="noopener">MBBS, MPH, FRSPH</a></span></p>						</div>
</div>
<div class="elementor-element elementor-element-bb5a9f0 elementor-widget elementor-widget-text-editor" data-id="bb5a9f0" data-element_type="widget" data-widget_type="text-editor.default">
<div class="elementor-widget-container">
        <p><span style="color: #ffffff;"><a style="color: #ffffff;" href="https://arfh-ng.org/arfh-management-staff/kolapo-oyeniyi/" target="_blank" rel="noopener">Director of Programs,&nbsp; ARFH</a></span></p>						</div>
</div>
</div>
</div>
<div class="make-column-clickable-elementor elementor-column elementor-col-25 elementor-top-column elementor-element elementor-element-a349a5b animated fadeInLeft" style="cursor: pointer;" data-column-clickable="https://arfh-ng.org/arfh-management-staff/kolapo-oyeniyi/" data-column-clickable-blank="_self" data-id="a349a5b" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;animation&quot;:&quot;fadeInLeft&quot;,&quot;animation_delay&quot;:600}">
<div class="elementor-widget-wrap elementor-element-populated">
<div class="elementor-background-overlay"></div>
    <div class="elementor-element elementor-element-1fc34ca elementor-widget elementor-widget-heading" data-id="1fc34ca" data-element_type="widget" data-widget_type="heading.default">
<div class="elementor-widget-container">
<h2 class="elementor-heading-title elementor-size-small"><a href="https://arfh-ng.org/mr-tope-kazeem/">Mr Tope Kazeem</a></h2>		</div>
</div>
<div class="elementor-element elementor-element-d15279b elementor-widget elementor-widget-text-editor" data-id="d15279b" data-element_type="widget" data-widget_type="text-editor.default">
<div class="elementor-widget-container">
        <p><span style="color: #ffffff;"><a style="color: #ffffff;" href="https://arfh-ng.org/arfh-management-staff/mr-tope-kazeem/" target="_blank" rel="noopener">MSC, MBA, ACA</a></span></p>						</div>
</div>
<div class="elementor-element elementor-element-f1c9146 elementor-widget elementor-widget-text-editor" data-id="f1c9146" data-element_type="widget" data-widget_type="text-editor.default">
<div class="elementor-widget-container">
        <p><span style="color: #ffffff;"><a style="color: #ffffff;" href="https://arfh-ng.org/arfh-management-staff/mr-tope-kazeem/">Director of Finance, ARFH</a></span></p>						</div>
</div>
</div>
</div>
<div class="elementor-column elementor-col-25 elementor-top-column elementor-element elementor-element-efbf786 animated fadeInUp" data-id="efbf786" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;animation&quot;:&quot;fadeInUp&quot;,&quot;animation_delay&quot;:400}">
<div class="elementor-widget-wrap elementor-element-populated">
<div class="elementor-background-overlay"></div>
    <div class="elementor-element elementor-element-82bee9c elementor-widget elementor-widget-heading" data-id="82bee9c" data-element_type="widget" data-widget_type="heading.default">
<div class="elementor-widget-container">
<h2 class="elementor-heading-title elementor-size-default">They Are Saving Lives Today</h2>		</div>
</div>
<div class="elementor-element elementor-element-1f46dbc elementor-widget elementor-widget-text-editor" data-id="1f46dbc" data-element_type="widget" data-widget_type="text-editor.default">
<div class="elementor-widget-container">
        <p>Join them and see what you too can do.</p>						</div>
</div>
<div class="elementor-element elementor-element-42043d9 elementor-align-left elementor-widget elementor-widget-button animated fadeInDown" data-id="42043d9" data-element_type="widget" data-settings="{&quot;_animation&quot;:&quot;fadeInDown&quot;,&quot;_animation_delay&quot;:700}" data-widget_type="button.default">
<div class="elementor-widget-container">
<div class="elementor-button-wrapper">
<a class="elementor-button elementor-button-link elementor-size-sm" href="https://arfh-ng.org/partner/">
    <span class="elementor-button-content-wrapper">
                <span class="elementor-button-text">Partner Now</span>
</span>
</a>
</div>
</div>
</div>
</div>
</div>
</div>
</section>
<section data-particle_enable="false" data-particle-mobile-disabled="false" class="elementor-section elementor-top-section elementor-element elementor-element-db64064 elementor-hidden-desktop elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="db64064" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
    <div class="elementor-container elementor-column-gap-default">
<div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-a4048cc elementor-invisible" data-id="a4048cc" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;animation&quot;:&quot;fadeInLeft&quot;,&quot;animation_delay&quot;:600}">
<div class="elementor-widget-wrap elementor-element-populated">
<div class="elementor-background-overlay"></div>
    <div class="elementor-element elementor-element-263f1ab elementor-widget elementor-widget-heading" data-id="263f1ab" data-element_type="widget" data-widget_type="heading.default">
<div class="elementor-widget-container">
<h2 class="elementor-heading-title elementor-size-default">Prof O. A. Ladipo</h2>		</div>
</div>
<div class="elementor-element elementor-element-2ad6595 elementor-widget elementor-widget-text-editor" data-id="2ad6595" data-element_type="widget" data-widget_type="text-editor.default">
<div class="elementor-widget-container">
        <p>MB.Bch, FRCOG, FMCOG, FWACS, OON</p>						</div>
</div>
<div class="elementor-element elementor-element-3500087 elementor-widget elementor-widget-text-editor" data-id="3500087" data-element_type="widget" data-widget_type="text-editor.default">
<div class="elementor-widget-container">
        <p>President, CEO &amp; Co-Founder&nbsp;&nbsp;<br>ARFH</p>						</div>
</div>
</div>
</div>
<div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-9e7bad0 elementor-invisible" data-id="9e7bad0" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;animation&quot;:&quot;fadeInLeft&quot;,&quot;animation_delay&quot;:600}">
<div class="elementor-widget-wrap elementor-element-populated">
<div class="elementor-background-overlay"></div>
    <div class="elementor-element elementor-element-470b81d elementor-widget elementor-widget-heading" data-id="470b81d" data-element_type="widget" data-widget_type="heading.default">
<div class="elementor-widget-container">
<h2 class="elementor-heading-title elementor-size-default">Mrs G. E. Delano</h2>		</div>
</div>
<div class="elementor-element elementor-element-cc702e2 elementor-widget elementor-widget-text-editor" data-id="cc702e2" data-element_type="widget" data-widget_type="text-editor.default">
<div class="elementor-widget-container">
        <p>BA, M.Sc., FWCN, FIHS</p>						</div>
</div>
<div class="elementor-element elementor-element-63d52fd elementor-widget elementor-widget-text-editor" data-id="63d52fd" data-element_type="widget" data-widget_type="text-editor.default">
<div class="elementor-widget-container">
        <p>Former Vice President and Co-Founder&nbsp;<br>ARFH</p>						</div>
</div>
</div>
</div>
<div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-90d7547 elementor-invisible" data-id="90d7547" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;animation&quot;:&quot;fadeInLeft&quot;,&quot;animation_delay&quot;:600}">
<div class="elementor-widget-wrap elementor-element-populated">
<div class="elementor-background-overlay"></div>
    <div class="elementor-element elementor-element-1158edc elementor-widget elementor-widget-heading" data-id="1158edc" data-element_type="widget" data-widget_type="heading.default">
<div class="elementor-widget-container">
<h2 class="elementor-heading-title elementor-size-default">Prof A. O. Adekunle</h2>		</div>
</div>
<div class="elementor-element elementor-element-1ebd573 elementor-widget elementor-widget-text-editor" data-id="1ebd573" data-element_type="widget" data-widget_type="text-editor.default">
<div class="elementor-widget-container">
        <p>…</p>						</div>
</div>
<div class="elementor-element elementor-element-cb2a158 elementor-widget elementor-widget-text-editor" data-id="cb2a158" data-element_type="widget" data-widget_type="text-editor.default">
<div class="elementor-widget-container">
        <p>Chair, Board of Directors&nbsp;<br>ARFH</p>						</div>
</div>
</div>
</div>
</div>
</section>
<section data-particle_enable="false" data-particle-mobile-disabled="false" class="elementor-section elementor-top-section elementor-element elementor-element-8d1b54a elementor-hidden-desktop elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="8d1b54a" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
    <div class="elementor-container elementor-column-gap-default">
<div class="elementor-column elementor-col-25 elementor-top-column elementor-element elementor-element-1e197f9 elementor-invisible" data-id="1e197f9" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;animation&quot;:&quot;fadeInLeft&quot;,&quot;animation_delay&quot;:600}">
<div class="elementor-widget-wrap elementor-element-populated">
<div class="elementor-background-overlay"></div>
    <div class="elementor-element elementor-element-d37f300 elementor-widget elementor-widget-heading" data-id="d37f300" data-element_type="widget" data-widget_type="heading.default">
<div class="elementor-widget-container">
<h2 class="elementor-heading-title elementor-size-default">Dr J. O. Mafeni</h2>		</div>
</div>
<div class="elementor-element elementor-element-60ab2f5 elementor-widget elementor-widget-text-editor" data-id="60ab2f5" data-element_type="widget" data-widget_type="text-editor.default">
<div class="elementor-widget-container">
        <p>…</p>						</div>
</div>
<div class="elementor-element elementor-element-d072bcc elementor-widget elementor-widget-text-editor" data-id="d072bcc" data-element_type="widget" data-widget_type="text-editor.default">
<div class="elementor-widget-container">
        <p>Chair, Board of Trustees&nbsp;<br>ARFH&nbsp;</p>						</div>
</div>
</div>
</div>
<div class="elementor-column elementor-col-25 elementor-top-column elementor-element elementor-element-58bf8bb elementor-invisible" data-id="58bf8bb" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;animation&quot;:&quot;fadeInLeft&quot;,&quot;animation_delay&quot;:600}">
<div class="elementor-widget-wrap elementor-element-populated">
<div class="elementor-background-overlay"></div>
    <div class="elementor-element elementor-element-cc75683 elementor-widget elementor-widget-heading" data-id="cc75683" data-element_type="widget" data-widget_type="heading.default">
<div class="elementor-widget-container">
<h2 class="elementor-heading-title elementor-size-default"><a href="#">Mr J. Majiyabge</a></h2>		</div>
</div>
<div class="elementor-element elementor-element-b893e25 elementor-widget elementor-widget-text-editor" data-id="b893e25" data-element_type="widget" data-widget_type="text-editor.default">
<div class="elementor-widget-container">
        <p>…&nbsp;</p>						</div>
</div>
<div class="elementor-element elementor-element-b669178 elementor-widget elementor-widget-text-editor" data-id="b669178" data-element_type="widget" data-widget_type="text-editor.default">
<div class="elementor-widget-container">
        <p>Director of Finance &amp; Administration <br>ARFH&nbsp;</p>						</div>
</div>
</div>
</div>
<div class="make-column-clickable-elementor elementor-column elementor-col-25 elementor-top-column elementor-element elementor-element-82c39f1 elementor-invisible" style="cursor: pointer;" data-column-clickable="https://arfh-ng.org/arfh-management-staff/osinowo-kehinde-adesola/" data-column-clickable-blank="_self" data-id="82c39f1" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;animation&quot;:&quot;fadeInLeft&quot;,&quot;animation_delay&quot;:600}">
<div class="elementor-widget-wrap elementor-element-populated">
<div class="elementor-background-overlay"></div>
    <div class="elementor-element elementor-element-b0c0110 elementor-widget elementor-widget-heading" data-id="b0c0110" data-element_type="widget" data-widget_type="heading.default">
<div class="elementor-widget-container">
<h2 class="elementor-heading-title elementor-size-default"><a href="#">Mrs K. A. Osinowo</a></h2>		</div>
</div>
<div class="elementor-element elementor-element-2d16b43 elementor-widget elementor-widget-text-editor" data-id="2d16b43" data-element_type="widget" data-widget_type="text-editor.default">
<div class="elementor-widget-container">
        <p>MPH, FWACN</p>						</div>
</div>
<div class="elementor-element elementor-element-9d28a80 elementor-widget elementor-widget-text-editor" data-id="9d28a80" data-element_type="widget" data-widget_type="text-editor.default">
<div class="elementor-widget-container">
        <p>Director of Programmes&nbsp;<br>ARFH</p>						</div>
</div>
</div>
</div>
<div class="elementor-column elementor-col-25 elementor-top-column elementor-element elementor-element-ae01303 elementor-invisible" data-id="ae01303" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;animation&quot;:&quot;fadeInUp&quot;,&quot;animation_delay&quot;:400}">
<div class="elementor-widget-wrap elementor-element-populated">
<div class="elementor-background-overlay"></div>
    <div class="elementor-element elementor-element-5faab0d elementor-widget elementor-widget-heading" data-id="5faab0d" data-element_type="widget" data-widget_type="heading.default">
<div class="elementor-widget-container">
<h2 class="elementor-heading-title elementor-size-default">They Are Saving Lives Today</h2>		</div>
</div>
<div class="elementor-element elementor-element-b248628 elementor-widget elementor-widget-text-editor" data-id="b248628" data-element_type="widget" data-widget_type="text-editor.default">
<div class="elementor-widget-container">
        <p>Join them and see what you can do.</p>						</div>
</div>
<div class="elementor-element elementor-element-198963e elementor-align-left elementor-tablet-align-center elementor-invisible elementor-widget elementor-widget-button" data-id="198963e" data-element_type="widget" data-settings="{&quot;_animation&quot;:&quot;fadeInDown&quot;,&quot;_animation_delay&quot;:700}" data-widget_type="button.default">
<div class="elementor-widget-container">
<div class="elementor-button-wrapper">
<a class="elementor-button elementor-button-link elementor-size-sm" href="https://arfh-ng.org/partner/">
    <span class="elementor-button-content-wrapper">
                <span class="elementor-button-text">Partner Now</span>
</span>
</a>
</div>
</div>
</div>
</div>
</div>
</div>
</section>
<section data-particle_enable="false" data-particle-mobile-disabled="false" class="elementor-section elementor-top-section elementor-element elementor-element-f3c1b9c elementor-hidden-desktop elementor-hidden-tablet elementor-hidden-phone elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="f3c1b9c" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
        <div class="elementor-background-overlay"></div>
        <div class="elementor-container elementor-column-gap-default">
<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-488abf3" data-id="488abf3" data-element_type="column">
<div class="elementor-widget-wrap elementor-element-populated">
    <div class="elementor-element elementor-element-09a0cd4 elementor-invisible elementor-widget elementor-widget-heading" data-id="09a0cd4" data-element_type="widget" data-settings="{&quot;_animation&quot;:&quot;fadeInDown&quot;}" data-widget_type="heading.default">
<div class="elementor-widget-container">
<h2 class="elementor-heading-title elementor-size-default">What People Think About Us</h2>		</div>
</div>
<section data-particle_enable="false" data-particle-mobile-disabled="false" class="elementor-section elementor-inner-section elementor-element elementor-element-fc63331 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="fc63331" data-element_type="section">
    <div class="elementor-container elementor-column-gap-default">
<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-53af0bc elementor-invisible" data-id="53af0bc" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;animation&quot;:&quot;fadeInLeft&quot;}">
<div class="elementor-widget-wrap elementor-element-populated">
    <div class="elementor-element elementor-element-477ff13 elementor-widget elementor-widget-image" data-id="477ff13" data-element_type="widget" data-widget_type="image.default">
<div class="elementor-widget-container">
                                <img decoding="async" width="25" height="19" src="https://arfh-ng.org/wp-content/uploads/2019/10/quote.png" class="attachment-large size-large wp-image-40" alt="">													</div>
</div>
<div class="elementor-element elementor-element-156652d elementor-widget elementor-widget-text-editor" data-id="156652d" data-element_type="widget" data-widget_type="text-editor.default">
<div class="elementor-widget-container">
        <p>Lorem ipsum dolor sit amet, elit, do eiusmod tempor incididunt ut et dolore aliqua.</p>						</div>
</div>
<div class="elementor-element elementor-element-dd9c251 elementor-widget elementor-widget-heading" data-id="dd9c251" data-element_type="widget" data-widget_type="heading.default">
<div class="elementor-widget-container">
<h2 class="elementor-heading-title elementor-size-default"><a href="#">Karen Robinson</a></h2>		</div>
</div>
<div class="elementor-element elementor-element-5c7b370 elementor-widget elementor-widget-text-editor" data-id="5c7b370" data-element_type="widget" data-widget_type="text-editor.default">
<div class="elementor-widget-container">
        <p>Manager</p>						</div>
</div>
</div>
</div>
<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-d08bfff elementor-invisible" data-id="d08bfff" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;animation&quot;:&quot;fadeInRight&quot;}">
<div class="elementor-widget-wrap elementor-element-populated">
    <div class="elementor-element elementor-element-3a85ffc elementor-widget elementor-widget-image" data-id="3a85ffc" data-element_type="widget" data-widget_type="image.default">
<div class="elementor-widget-container">
                                <img decoding="async" width="25" height="19" src="https://arfh-ng.org/wp-content/uploads/2019/10/quote.png" class="attachment-large size-large wp-image-40" alt="">													</div>
</div>
<div class="elementor-element elementor-element-24e4da1 elementor-widget elementor-widget-text-editor" data-id="24e4da1" data-element_type="widget" data-widget_type="text-editor.default">
<div class="elementor-widget-container">
        <p>Lorem ipsum dolor sit amet, elit, do eiusmod tempor incididunt ut et dolore aliqua.</p>						</div>
</div>
<div class="elementor-element elementor-element-7258a8e elementor-widget elementor-widget-heading" data-id="7258a8e" data-element_type="widget" data-widget_type="heading.default">
<div class="elementor-widget-container">
<h2 class="elementor-heading-title elementor-size-default"><a href="#">Rita Patterson</a></h2>		</div>
</div>
<div class="elementor-element elementor-element-0d86788 elementor-widget elementor-widget-text-editor" data-id="0d86788" data-element_type="widget" data-widget_type="text-editor.default">
<div class="elementor-widget-container">
        <p>Teacher</p>						</div>
</div>
</div>
</div>
</div>
</section>
</div>
</div>
</div>
</section>
<div data-particle_enable="false" data-particle-mobile-disabled="false" class="elementor-element elementor-element-8a3b989 e-flex e-con-boxed e-con e-parent e-lazyloaded" data-id="8a3b989" data-element_type="container">
<div class="e-con-inner">
</div>
</div>
</div>

{% endblock content %}